$font-main: "Open Sans", sans-serif;
$font-accent: "Roboto", sans-serif;
$background: #e0e0e0;
$white-background: #f5f5f5;
$dark-background: #424242;
$primary-color: #03a9f4;
$text-color-light: #fafafa;
$text-color-dark: #6c6c6c;
$text-color-dark2: #424242;
$hover-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$color1: rgba(239, 71, 71, 1);
$color2: rgba(6, 214, 96, 1);
$color3: rgba(193, 219, 227, 1);
$color4: #118ab2;
$color5: rgba(2, 23, 30, 1);
$breakpoint-large: 768px;
$breakpoint-medium: 490px;
$breakpoint-small: 400px; /*
 the short form 'font:' declaration was cauing issues with cross-browser compatability so it isn't used
 */
//A mixin which helps you to add depth to elements according to the Google Material Design spec:
//http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
//Adapted from a LESS version at https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
//Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
@mixin shadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else 
  if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else 
  if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else 
  if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else 
  if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

body {
  //media query for landscape mobile phones set to work up to the size of a pixel xl 2
  @media only screen and (min-device-width: 375px) and (max-device-width: 824px) and (orientation: landscape) {
    flex-wrap : wrap;
    max-height: 100vh;
  }
  background    : $background;
  font-family   : $font-accent;
  color         : $text-color-dark2;
  display       : flex;
  min-height    : 100vh;
  flex-direction: column;
}

header {
  @media only screen and (min-device-width: 375px) and (max-device-width: 824px) and (orientation: landscape) {
    order    : 1;
    width    : 50%;
    flex-grow: 1;
  }
  display       : flex;
  flex-direction: column;
  align-items   : center;
  padding       : 5px 0 0;

  h1 {
    @media only screen and (min-device-width: 375px) and (max-device-width: 824px) and (orientation: landscape) {
      font-size: 2em;
    }
    @media screen and (max-width: $breakpoint-small) {
      font-size: 2.4em;
    }
    font-family: $font-accent;
    font-size  : 3.5em;
    font-weight: 300;
    padding    : 0;
    margin     : 0;
    transition : 0.1s;
  }
}

.stats-wrap {
  min-height     : 35px;
  margin         : 4px 0;
  max-width      : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  align-content  : space-around;

  .stats {
    @media only screen and (min-device-width: 375px) and (max-device-width: 824px) and (orientation: landscape) {
      flex-direction: column;
      font-size     : 1.3em;

      i {
        font-size: 1.8em;
      }

      button {
        padding: 12px 16px;
        margin : 12px 0 0 !important;
      }

      * {
        margin-top: 12px;
      }
    }
    flex-shrink    : 1;
    display        : flex;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: space-around;
    width          : 650px;
    max-width      : 80%;

    button {
      @media screen and (max-width: $breakpoint-medium) {
        margin: 10px 25%;
      }
      border-radius: 4px;
      border       : 0;
      padding      : 8px 12px;
      transition   : $hover-transition;
      background   : $color4;
      color        : $text-color-light;

      &:hover {
        @include shadow(2);
        cursor: pointer;
      }
    }
  }
}

main {
  @media only screen and (min-device-width: 375px) and (max-device-width: 824px) and (orientation: landscape) {
    order: 3;
    width: 50%;
  }
  flex           : 1;
  display        : flex;
  justify-content: center;
  align-items    : center;
  align-content  : space-around;
}

.win-modal {
  @include shadow(5);
  display         : none;
  justify-content : center;
  flex-direction  : column;
  align-content   : stretch;
  background-color: #f5f5f5;
  position        : fixed;
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  width           : 500px;
  max-width       : 95%;
  z-index         : 50;
  height          : 300px;

  h1 {
    text-align : center;
    font-weight: 300;
    font-size  : 3.5em;
    margin     : 10px 0 0;
  }

  .stats {
    display        : flex;
    flex-wrap      : wrap;
    align-content  : stretch;
    justify-content: space-around;

    .rank {
      font-size : 2.5em;
      width     : 100%;
      text-align: center;
      margin    : 10px 0 15px;
    }

    .timer,
    .turn-count {
      font-family: $font-main;
      font-size  : 1.3em;
    }

    button {
      border-radius: 4px;
      margin       : 15px 25% 0;
      font-size    : 1.5em;
      border       : 0;
      padding      : 12px 15px;
      transition   : $hover-transition;
      background   : $color4;
      color        : $text-color-light;

      &:hover {
        @include shadow(2);
        cursor: pointer;
      }
    }
  }
}

.card-table {
  @media screen and (max-width: $breakpoint-small) {
    grid-gap     : 7px;
    border-radius: 6px;
    padding      : 6px;
    font-size    : 2em;
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 824px) and (orientation: landscape) {
    max-width    : 95%;
    grid-gap     : 7px;
    border-radius: 6px;
    padding      : 6px;
    font-size    : 2em;
  }
  @include shadow(4);
  font-size            : 2.5em;
  flex-grow            : 1;
  margin               : 5px 18px;
  max-height           : 620px;
  //make sure these stay a multiple of 4 for future functionality
  max-width            : 620px;
  display              : grid;
  grid-template-columns: repeat(4, 1fr);
  //4 flex items tall
  grid-template-rows   : repeat(4, 1fr);
  //4 flex items wide
  grid-auto-flow       : column;
  // TODO: grid autoflow will allow me to add more columns of cards but the cards arent keeping the same styling
  grid-gap             : 12px;
  // TODO: add breakpoints for grid gap and padding
  padding              : 12px;
  border-radius        : 10px;
  background           : $dark-background;

  .card {
    @include shadow(2);
    //1:1 ratio trick is from css-tricks.com/aspect-ratios-grid-items/
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    min-width      : 50px;
    min-height     : 50px;
    border-radius  : 10px;
    background     : $color4;

    &::before {
      content    : "";
      height     : 0;
      display    : inline-block;
      padding-top: 100%;
      width      : 1px;
      position   : relative;
    }

    &:hover {
      cursor: pointer;
    }

    i {
      display  : none;
      font-size: inherit;
      color    : $color5;
    }
  }
}

.match {
  z-index         : 3;
  background-color: $color2 !important;
}

.mismatch {
  z-index         : 4;
  background-color: $color1 !important;
}

footer {
  @media only screen and (min-device-width: 375px) and (max-device-width: 824px) and (orientation: landscape) {
    order    : 2;
    width    : 50%;
    font-size: 12px;
    padding  : 0 0 10px;
  }
  display        : flex;
  align-items    : center;
  justify-content: space-around;
  flex-wrap      : wrap-reverse;
  padding        : 15px 0;

  a {
    text-decoration: none;
    color          : inherit;
    transition     : 0.15s;
    margin         : 5px 30px;

    &:hover {
      color: $primary-color;
    }
  }

  .git-link {
    font-size: 22px;
  }
}