$font-main: 'Open Sans', sans-serif;
$font-accent: 'Roboto', sans-serif;
$background: #e0e0e0;
$white-background: #f5f5f5;
$dark-background: #424242;
$primary-color: #ff5252;
$accent-color: #03a9f4;
$text-color-light: #fafafa;
$text-color-dark: #6c6c6c;
$hover-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$color1: rgba(239, 71, 71, 1);
$color2: rgba(6, 214, 96, 1);
$color3: rgba(193, 219, 227, 1);
$color4: rgba(17, 138, 178, 1);
$color5: rgba(2, 23, 30, 1); /*
 the short form 'font:' declaration was cauing issues with cross-browser compatability so it isn't used
 */
//A mixin which helps you to add depth to elements according to the Google Material Design spec:
//http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
//Adapted from a LESS version at https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
//Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
@mixin shadow ($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else 
  if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else 
  if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else 
  if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else 
  if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

main {
  height         : 100vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
  background     : $background;
}

.card-table {
  flex-grow            : 1;
  margin               : 20px;
  max-height           : 620px;
  //make sure these stay a multiple of 4 for future functionality
  max-width            : 620px;
  display              : grid;
  grid-template-columns: repeat(4, 1fr);
  //4 flex items tall
  grid-template-rows   : repeat(4, 1fr);
  //4 flex items wide
  grid-auto-flow       : column;
  // TODO: grid autoflow will allow me to add more columns of cards but the cards arent keeping the same styling
  grid-gap             : 10px;
  // TODO: add breakpoints for grid gap and padding
  padding              : 10px;
  border-radius        : 10px;
  background           : $dark-background;

  .card {
    @include shadow(2);
    //1:1 ratio trick is from css-tricks.com/aspect-ratios-grid-items/
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    min-width      : 50px;
    min-height     : 50px;
    border-radius  : 10px;
    background     : $white-background;

    &::before {
      content    : "";
      height     : 0;
      display    : inline-block;
      padding-top: 100%;
      width      : 1px;
      position   : relative;
    }

    &:hover {
      cursor: pointer;
    }

    i {
      display  : none;
      font-size: 2.5em;
      color    : $color5;
    }
  }
}

.match {
  z-index         : 3;
  background-color: $color2 !important;
}

.mismatch {
  z-index         : 4;
  background-color: $color1 !important;
}